{% extends "frlsim/base.html" %}

{% block title %}{{ act.metadata.title }}{% endblock %}

{% block content %}
	<h1>{{ act.metadata.title }}</h1>
	
	<p>
		Act No. {{ act.number }} of {{ act.year }}.
		{% if act.metadata.introducer %}Introduced by <a href="https://www.reddit.com/u/{{ act.metadata.introducer }}">/u/{{ act.metadata.introducer }}</a>.{% endif %}
		Assented to {{ act.metadata.assent }}.
		{% if act.repealed_by %}Repealed by <a href="/legislation/act/{{ act.repealed_by[0].code }}">{{ act.repealed_by[0].metadata.title }}</a>.{% endif %}
	</p>
	
	<div class="ui top attached tabular menu">
		{% if act.can_render %}<a class="active item" data-tab="text">Text{% if not act.content %} (auto-converted){% endif %}</a>{% endif %}
		<a class="{% if not act.can_render %}active {% endif %}item" data-tab="download">Download</a>
		{% if act.metadata.amends or act.metadata.repeals %}<a class="item" data-tab="amends">Amends</a>{% endif %}
		{% if act.amended_by or act.repealed_by %}<a class="item" data-tab="amended_by">Amended by</a>{% endif %}
		{% if act.compilations %}<a class="item" data-tab="compilations">Compilations</a>{% endif %}
		{% if act.metadata.urls %}<a class="item" data-tab="urls">External links</a>{% endif %}
	</div>
	
	{% if act.can_render %}
		<div class="ui bottom attached active tab segment" data-tab="text">
			{{ act.render() }}
		</div>
	{% endif %}
	
	<div class="ui bottom attached {% if not act.can_render %}active {% endif %}tab segment" data-tab="download">
		<ul class="ui list">
			{% for format in act.formats %}
				<li><a href="/legislation/act/{{ act.code }}/download/{{ act.code }}.{{ format }}">
					{{ format.upper() }}
					{% if format == 'md' and act.content.strip()|length == 0 %}
						(metadata only)
					{% endif %}
				</a></li>
			{% endfor %}
			{% for format in act.autoconverted.keys() %}
				<li><a href="/legislation/act/{{ act.code }}/download/{{ act.code }}.auto.{{ format }}">
					{{ format.upper() }}
					(auto-converted)
				</a></li>
			{% endfor %}
		</ul>
	</div>
	
	{% if act.metadata.amends or act.metadata.repeals %}
		<div class="ui bottom attached tab segment" data-tab="amends">
			{% macro amends_list(list) %}
				<ul class="ui list">
					{% for entry in list %}
						{% if entry.split()|length == 1 %}
							<li><a href="/legislation/act/{{ entry }}">{{ acts_bycode[entry].metadata.title }}</a></li>
						{% else %}
							<li><a href="https://www.legislation.gov.au/Search/{{ entry }}">{{ entry }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endmacro %}
			{% if act.metadata.amends %}
				<h2>Amends</h2>
				{{ amends_list(act.metadata.amends) }}
			{% endif %}
			{% if act.metadata.repeals %}
				<h2>Repeals</h2>
				{{ amends_list(act.metadata.repeals) }}
			{% endif %}
		</div>
	{% endif %}
	
	{% if act.amended_by or act.repealed_by %}
		<div class="ui bottom attached tab segment" data-tab="amended_by">
			{% if act.amended_by %}
				<h2>Amended by</h2>
				<ul class="ui list">
					{% for entry in act.amended_by %}
						<li><a href="/legislation/act/{{ entry.code }}">{{ entry.metadata.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if act.repealed_by %}
				<h2>Repealed by</h2>
				<ul class="ui list">
					{% for entry in act.repealed_by %}
						<li><a href="/legislation/act/{{ entry.code }}">{{ entry.metadata.title }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endif %}
	
	{% if act.compilations %}
		<div class="ui bottom attached tab segment" data-tab="compilations">
			<ul class="ui list">
				{% for compilation in act.compilations %}
					<li><a href="/legislation/compilation/{{ compilation.code }}">Up to the {{ compilation.upto.metadata.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	
	{% if act.metadata.urls %}
		<div class="ui bottom attached tab segment" data-tab="urls">
			<ul class="ui list">
				{% for url in act.metadata.urls %}
					<li><a href="{{ url }}">{{ url }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block script %}
	<script>
		$('.tabular.menu .item').tab();
	</script>
{% endblock %}
