{% extends "frlsim/base.html" %}

{% block title %}Acts by date and number{% endblock %}

{% block content %}
	<h1>Acts by date and number</h1>
	
	{% for year, year_acts in acts|groupby('year') %}
		<h2>{{ year }}</h2>
		<ul class="ui list">
			{% for act in year_acts %}
				<li><a href="/legislation/act/{{ act.code }}">No. {{ act.number }}: {{ act.metadata.title }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
