<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>AustraliaSim Register of Legislation: {% block title %}{% endblock %}</title>
		
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body>
		<div class="ui fixed inverted menu" style="margin-right: 1.5em;">
			<div class="ui container">
				<a class="header item" href="/legislation">AustraliaSim Register of Legislation</a>
			</div>
		</div>
		<div class="ui main text container" style="margin-top: 7em; margin-bottom: 3em;">
			{% block content %}
			{% endblock %}
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		{% block script %}{% endblock %}
	</body>
</html>
