{% extends "frlsim/base.html" %}

{% block title %}{{ compilation.principal.metadata.title }}{% endblock %}

{% block content %}
	<h1>{{ compilation.principal.metadata.title }}</h1>
	
	<p>
		<a href="/legislation/act/{{ compilation.principal.code }}">Act No. {{ compilation.principal.number }} of {{ compilation.principal.year }}.</a>
		Incorporating alterations up to the <a href="/legislation/act/{{ compilation.upto.code }}">{{ compilation.upto.metadata.title }}</a>.
	</p>
	
	<div class="ui top attached tabular menu">
		{% if compilation.can_render %}<a class="active item" data-tab="text">Text{% if not compilation.content %} (auto-converted){% endif %}</a>{% endif %}
		<a class="{% if not compilation.can_render %}active {% endif %}item" data-tab="download">Download</a>
		{% if compilation.metadata.urls %}<a class="item" data-tab="urls">External links</a>{% endif %}
	</div>
	
	{% if compilation.can_render %}
		<div class="ui bottom attached active tab segment" data-tab="text">
			{{ compilation.render() }}
		</div>
	{% endif %}
	
	<div class="ui bottom attached {% if not compilation.can_render %}active {% endif %}tab segment" data-tab="download">
		<ul class="ui list">
			{% for format in compilation.formats %}
				<li><a href="/legislation/compilation/{{ compilation.code }}/download/{{ compilation.code }}.{{ format }}">
					{{ format.upper() }}
					{% if format == 'md' and compilation.content.strip()|length == 0 %}
						(metadata only)
					{% endif %}
				</a></li>
			{% endfor %}
			{% for format in compilation.autoconverted.keys() %}
				<li><a href="/legislation/compilation/{{ compilation.code }}/download/{{ compilation.code }}.auto.{{ format }}">
					{{ format.upper() }}
					(auto-converted)
				</a></li>
			{% endfor %}
		</ul>
	</div>
	
	{% if compilation.metadata.urls %}
		<div class="ui bottom attached tab segment" data-tab="urls">
			<ul class="ui list">
				{% for url in compilation.metadata.urls %}
					<li><a href="{{ url }}">{{ url }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block script %}
	<script>
		$('.tabular.menu .item').tab();
	</script>
{% endblock %}
